.git
output
target
dependency-cache
save
*.db
*.log
hs_err*
docker/.env
docker/compose.override.yaml
docker/config.local.groovy
docker/backups
web-app/gpxupload
web-app/jobs
web-app/map
web-app/live
web-app/live2
