/fcdb.h2.db
/fcdb.lock.db
/fcdb.trace.db
/target
/.link_to_grails_plugins
/stacktrace.log
/target-eclipse
/CREWLIST-UPLOAD.xls
/AFLOS-UPLOAD.mdb
/GAC-UPLOAD.gac
/GAC-DOWNLOAD.gac
/GPX-UPLOAD.gpx
/hs_err*.log
/web-app/gpxupload
/web-app/jobs
/web-app/live