/* modifications of layout.css
----------------------------------------------- */

h1#branding {
    color:#000;
	font-size:2.5em;
    padding:.4em .4em;
}

h1#brandingcf {
    color:#f00;
    font-size:1em;
    padding:.4em .4em .2em .4em;
}

tfoot th,
tfoot td {
    border-top:2px solid #888;
    background:#ccc; 
}

/* modifications of nav.css
----------------------------------------------- */

ul.main li a.active {
    height:2.5em;
    line-height:2.5em;
    border:0;
    color:#fff;
    background:#888;
}


/* zusätzliche Styles
----------------------------------------------- */

input[type="submit"]:focus {
	background-color: #ffc107;
}

input[type="checkbox"]:focus, input[type="radio"]:focus {
    filter: sepia(80%) brightness(70%) hue-rotate(170deg) saturate(70%) contrast(300%);
}

div.errors {
    background: #fff3f3;
    border: 1px solid red;
    color: #cc0000;
    margin: 10px 0 5px 0;
    padding: 5px 0 5px 0;
}

.boxborder {
    border:1px solid #bbb; 
    margin-bottom:10px;
}

#forms.block {
    margin-bottom:6px; 
}

td.detailtitle {
    width:30%;
    white-space:nowrap;
}

td.detailtitle2 {
    width:1%;
    white-space:nowrap;
}

td.position {
    width:10%;
    white-space:nowrap;
}

td.positioncrew {
    width:30%;
    white-space:nowrap;
}

td.positionpenalties {
    width:20%;
    white-space:nowrap;
}

td.error {
	font-weight:bold;
    color: red;
}

td.errors {
    color: red;
}

td.warnings {
    color: blue;
}

td.judgedisabled {
    color: darkviolet;
}

td.hide {
    color: grey;
}

td.center {
    text-align:center;
}

td.right {
    text-align:right;
}

.grad {
    width:40px;
}

.minute {
    width:40px;
}

.direction {
    width:40px;
}

td.points {
    font-weight:bold;
    color: blue;
}

td.zeropoints {
    font-weight:bold;
}

td.subpoints {
	text-decoration:underline
}

td.warning {
    background: yellow;
}

td.secretgatewidth {
    color: gray;
}

p.warning {
    background: yellow;
}

p.error {
	font-weight:bold;
    color: red;
}

p.group {
    font-weight:bold;
    font-size:1.1em;
}

p.errors {
    font-weight:bold;
	margin:0 5px 0 5px;
}

a.error {
    font-weight:bold;
    color: red;
}

.observationinputradio {
	padding: 4px;
	border: 1px solid black;
	border-radius: 4px;
}

.observationinputbutton {
	background-color: yellow;
}

.observationcompletecanvasimage {
	height: 14px;
}

.observationinputcanvasimage {
	height: 16px;
}

tr.pagebreak td {
	border-top: 2px solid black;
}

.mapexportquestionsection {
    padding-left: 20px;
}

.mapexportquestionbuttonline {
    margin-top: 10px;
    margin-bottom: 10px;
}

.mapexportquestionbutton {
}

.mapexportquestiontable {
    width: 0;
    border: 0;
    margin: 0;
    padding: 0;
    padding-right:20px;
    white-space: nowrap;
}