/* modifications of layout.css
----------------------------------------------- */

h1#branding {
    color:#000;
	font-size:2.5em;
    padding:.4em .4em;
}

tfoot th,
tfoot td {
    border-top:2px solid #888;
    background:#ccc; 
}

/* modifications of nav.css
----------------------------------------------- */

ul.main li a.active {
    height:2.5em;
    line-height:2.5em;
    border:0;
    color:#fff;
    background:#888;
}


/* zusätzliche Styles
----------------------------------------------- */

div.errors {
    background: #fff3f3;
    border: 1px solid red;
    color: #cc0000;
    margin: 10px 0 5px 0;
    padding: 5px 0 5px 0;
}

.boxborder {
    border:1px solid #bbb; 
    margin-bottom:10px;
}

#forms.block {
    margin-bottom:6px; 
}

td.detailtitle {
    width:30%;
    white-space:nowrap;
}

td.position {
    width:10%;
    white-space:nowrap;
}

td.positioncrew {
    width:30%;
    white-space:nowrap;
}

td.positionpenalties {
    width:20%;
    white-space:nowrap;
}

td.errors {
    color: red;
}

td.warnings {
    color: blue;
}

td.judgedisabled {
    color: darkviolet;
}

td.hide {
    color: grey;
}

td.center {
    text-align:center;
}

td.right {
    text-align:right;
}

.grad {
    width:40px;
}

.minute {
    width:40px;
}

.direction {
    width:40px;
}

td.points {
    font-weight:bold;
    color: blue;
}

td.zeropoints {
    font-weight:bold;
}

td.subpoints {
	text-decoration:underline
}

td.warning {
    background: yellow;
}

td.secretgatewidth {
    color: gray;
}

p.warning {
    background: yellow;
}

p.group {
    font-weight:bold;
    font-size:1.1em;
}

p.errors {
    font-weight:bold;
	margin:0 5px 0 5px;
}

